<!DOCTYPE html>
<html>
<head>
<title>visualisation of User Options</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1> MOUSE MOVEMENT SCATTER PLOT </h1>
</head>
<body>

<div class="w3-container">
  <center><h2>visualization of User Activity only</h2></center>
  
 <center> <div class="w3-dropdown-hover">
    <button class="w3-button w3-black">Hover Over Me for visualization options!</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="/scatterplot_user" class="w3-bar-item w3-button">Scatter Plot of user mouse trajectory</a>
	  <a href="/piechart_user"  class="w3-bar-item w3-button">Piechart - his activities as a active participant</a> 
	  <a href="/visualization"  class="w3-bar-item w3-button">GO BACK - main visualisation options</a>
      
    </div> 
  </div> </center>
</div>

<center> This shows user's mouse movement of on various links </center>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~mythili895/18.embed"></iframe>

<br>
<div class="w3-container">
    <center><h2>VISUALISATION OPTIONS </h2></center>
    <center><a href="/visualization" class="w3-button w3-black"> VISUALISATION OPTIONS</a> </center>
	</div>
	

<div class="w3-container">
    <center><h2>LOGOUT </h2></center>
    <center><a href="/" class="w3-button w3-black"> LOGOUT </a> </center>
	</div>

</body>
</html>







 