<!DOCTYPE html>
<html>
<title>visualisation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <center><h2>visualization of User Activity only</h2></center>
  
 <center> <div class="w3-dropdown-hover">
    <button class="w3-button w3-black">Hover Over Me for user visualization options!</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="/scatterplot_user" class="w3-bar-item w3-button">Scatter Plot of user mouse trajectory</a>
	  <a href="/piechart_user"  class="w3-bar-item w3-button">Piechart - his activities as a active participant</a> 
	  <a href="/visualization"  class="w3-bar-item w3-button">GO BACK - main visualisation options</a>
      
    </div> 
  </div> </center>
</div>


<br>
<br>
<br>
<center> 
a.	User’s mouse movement behavior on various links are visualized to see his/her interactions on various pages. 
We can conclude about his interest by looking at the density of the points of a color (which indicates a specific page) in scatter plot. 
Denser pattern of a color means the user has actively participated/viewed a web page.
<br>
b.	A bar chart of various interactions are plot. 
Example – amount of times he scrolled, he voted up/down, clicked on a hyperlink, type something in comment box etc.


</center>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="w3-container">
    <center><h2>VISUALISATION OPTIONS </h2></center>
    <center><a href="/visualization" class="w3-button w3-black"> VISUALISATION OPTIONS</a> </center>
	</div>
	

<div class="w3-container">
    <center><h2>LOGOUT </h2></center>
    <center><a href="/" class="w3-button w3-black"> LOGOUT </a> </center>
	</div>
	
</body>
</html>


  
 







 