<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
{% if name %}

	<h1> <center> Welcome {{ name }} <center> </h1>
	<h3>  Login history of you!!</h3>
	<form action="/" method="POST">
	{% for i in t %}
		{{ i }}
	<br>
	{% endfor %}	

	click <a href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" onclick={logging()} target="_blank">  here </a> for stack overflow page
  
  <center><input type="submit" value="Logout" name = "Logout"> <center>
</form> 

{% else %}	
	<h1> please log in</h1>
{% endif %}
