<!DOCTYPE html>
<html>
<title>visualisation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <center><h2>Visualization</h2></center>
  
 <center> <div class="w3-dropdown-hover">
    <button class="w3-button w3-black">Hover Over Me for visualiZation options!</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
      <a href="/user_options" class="w3-bar-item w3-button">User bahaviour only</a>
      <a href="/social" class="w3-bar-item w3-button">Social - other users comparison</a>
      
    </div> 
  </div> </center>
</div>

<br>
<br>
<br>
<center>The visualiZation options are.: </center> <br>
 <center> 1: User only: A particular user's interactions are tracked and visualised. </center><br>
 <center> 2: Social Visualization : Comparitive study of various interactions of a user against other users </center>
 
<br>
<br>
<br>
<br>

<div class="w3-container">
    <center><h2>LOGOUT </h2></center>
    <center><a href="/" class="w3-button w3-black"> LOGOUT </a> </center>
	</div>
	
	
	

</body>
</html>